@page "/footer"
@using AKSoftware.Localization.MultiLanguages;
@inject ILanguageContainerService languageContainer

 <!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content">
            <h3 class="footer__title">@languageContainer.Keys["Ourinformation"]</h3>

            <ul class="footer__list">
                <li>1234 - Peru</li>
                <li>La Libertad 43210</li>
                <li>123-456-789</li>
            </ul>
        </div>
        <div class="footer__content">
            <h3 class="footer__title">@languageContainer.Keys["AboutUs"]</h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">@languageContainer.Keys["SupportCenter"]</a>
                </li>
                <li>
                    <a href="#" class="footer__link">@languageContainer.Keys["CustomerSupport"]</a>
                </li>
                <li>
                    <a href="#" class="footer__link">@languageContainer.Keys["AboutUs"]</a>
                </li>
                <li>
                    <a href="#" class="footer__link">@languageContainer.Keys["CopyRight"]</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">@languageContainer.Keys["Product"]</h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">@languageContainer.Keys["Roadbikes"]</a>
                </li>
                <li>
                    <a href="#" class="footer__link">@languageContainer.Keys["Mountainbikes"]</a>
                </li>
                <li>
                    <a href="#" class="footer__link">@languageContainer.Keys["Electric"]</a>
                </li>
                <li>
                    <a href="#" class="footer__link">@languageContainer.Keys["Accesories"]</a>
                </li>
            </ul>
        </div>

     @*   <div class="footer__content">
            <h3 class="footer__title">Social</h3>

            <ul class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-facebook'></i>
                </a>

                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-twitter'></i>
                </a>

                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram'></i>
                </a>
            </ul>
        </div>*@
    </div>

    <span class="footer__copy">All rigths reserved</span>
</footer>
@code
{
    protected override async Task OnInitializedAsync()
    {
        try
        {
            languageContainer.InitLocalizedComponent(this);
        }
        catch (Exception)
        {

            throw;
        }
    }
}
