@page "/new"
@using AKSoftware.Localization.MultiLanguages;
@inject ILanguageContainerService languageContainer

<!--==================== NEW ====================-->
<section class="new section container" id="new">
    <h2 class="section__title">
        @languageContainer.Keys["NewArrivals"]
    </h2>

    <div class="new__container">
        <div class="swiper new-swiper">
            <div class="swiper-wrapper">
                <article class="new__card swiper-slide">
                    <span class="new__tag">@languageContainer.Keys["New"] </span>

                    <img src="assets/img/new1.png" alt="" class="new__img">

                    <div class="new__data">
                        <h3 class="new__title">@languageContainer.Keys["Longinesrose"]</h3>
                        <span class="new__price">$980</span>
                    </div>

                    <button class="button new__button">@languageContainer.Keys["Cart"]</button>
                </article>

                <article class="new__card swiper-slide">
                    <span class="new__tag">@languageContainer.Keys["New"]</span>

                    <img src="assets/img/new2.png" alt="" class="new__img">

                    <div class="new__data">
                        <h3 class="new__title">@languageContainer.Keys["Jazzmaster"]</h3>
                        <span class="new__price">$1150</span>
                    </div>

                    <button class="button new__button">@languageContainer.Keys["Cart"]</button>
                </article>

                <article class="new__card swiper-slide">
                    <span class="new__tag">@languageContainer.Keys["New"]</span>

                    <img src="assets/img/new3.png" alt="" class="new__img">

                    <div class="new__data">
                        <h3 class="new__title">@languageContainer.Keys["Dreyfussgold"]</h3>
                        <span class="new__price">$750</span>
                    </div>

                    <button class="button new__button">@languageContainer.Keys["Cart"]</button>
                </article>

                <article class="new__card swiper-slide">
                    <span class="new__tag">@languageContainer.Keys["New"]</span>

                    <img src="assets/img/new4.png" alt="" class="new__img">

                    <div class="new__data">
                        <h3 class="new__title">@languageContainer.Keys["Portugueserose"]</h3>
                        <span class="new__price">$1590</span>
                    </div>

                    <button class="button new__button">@languageContainer.Keys["Cart"]</button>
                </article>
            </div>
        </div>
    </div>
</section>
@code
{
    protected override async Task OnInitializedAsync()
    {
        try
        {
            languageContainer.InitLocalizedComponent(this);
        }
        catch (Exception)
        {

            throw;
        }
    }
}